*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-page{
    background-color: #0A014F;
}

.bg-cont{
    background-color: #CD9FCC;
}

.bg-name{
    background-color: #E4C2C6;
}
.top-part{
    gap: 1rem;
}

.name-details{
    gap: 1rem;
}