*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg-page{
    background-color: #0A014F;
}

.bg-cont{
    background-color: #CD9FCC;
}

.bg-name{
    background-color: #E4C2C6;
}

.bg-ticket{
    background-color: #FAE8EB;
}
.bg-form{
    background-color: #F6CACA;
}
.top-part{
    gap: 1rem;
}

.name-details{
    gap: 1rem;
}